{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/contact.css" />
{% endblock %}
{% block main %}
<h1> Contact Form </h1>
<form method="post">
    {{ form.csrf_token }}

    <div class="form-group">
        <h4> {{ form.name.label }} </h4>
        <label>Enter Your {{ form.name.label }}</label>
        {{ form.name(size=20,class_="form-control") }}
    </div>
    <div class="form-group">
        <h4> {{ form.email.label }} </h4>
        <label>Enter Your {{ form.email.label }}</label>
        {{ form.email(size=20,class_="form-control") }}
    </div>
    <div class="form-group">
        <h4> {{ form.subject.label }} </h4>
        <label>Enter Your {{ form.subject.label }}</label>
        {{ form.subject(size=20,class_="form-control") }}
    </div>
    <div class="form-group">
        <h4> {{ form.message.label }} </h4>
        <label>Enter Your {{ form.message.label }}</label>
        {{ form.message(size=20,class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}